$second-bg-color: #eeeeee;
$text-color: #646464;
$accent-text-color: #212121;
$btn-text-color: #ffffff;
$bg-color: #caa892;
$btn-bg-color: #37806b;
$accent-bg-color: #f8f8f8;
$hover-color: #b47852;
$hover-btn-color: #29584b;

$animation-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
